.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(circle at center, #f9f9f9, #878787);
}
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  background: #000;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  max-width: 45em;
  margin: auto auto 1em;
  box-sizing: border-box;
  padding: 2em;
  line-height: 1.5;
  text-align: center;
}
.overlay :last-child {
  margin-bottom: 0;
}
.overlay h1 {
  font-size: 14pt;
  font-weight: normal;
  text-shadow: 0 0 0.3em #000;
  margin: 0 0 1em;
}
.overlay p {
  font-size: 11pt;
  text-shadow: 0 0 0.3em #000;
  margin: 1em 0;
}
.overlay a {
  color: #fff;
}
code {
  font-family: monospace;
}
@media screen and (max-width: 768px) {
  .overlay {
    font-size: 14px;
  }
  .overlay h1 {
    font-size: 12pt;
  }
  .overlay p {
    font-size: 10pt;
  }
}
